

// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }
// .float-left{
//   float: left;
// }
// .float-right{
//   float: right;
// }



::-webkit-scrollbar, *::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

ion-content {
  overflow: hidden;
  --overflow: hidden;
 
}

ion-content::part(background) {
  background: url('../../assets/bg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding: 100px !important;
}

.scroll-content {
  overflow: hidden;
}

ion-list {
  background: transparent;
  transform: translateY(20vh);
  ion-item {
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
  }
  ion-row {
    margin-bottom: 5vh;
  }
  ion-button {
    width: 30vh;
    margin: auto;
  }
  .alignItems {
    ion-checkbox, ion-note {
      display: inline-block;
      vertical-align: middle;
    }
    ion-checkbox {
      margin-right: 1vw;
      --size: 1.1rem;
    }
  }
  .signup {
    margin-top: 5vh;
    font-size: 0.8rem;
  }
  
  ion-col {
    ion-note {
      font-size: 0.85rem;
    }
  }
}

